.product-box {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 35%;
  margin-left: 20px;
}

.product-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.product-description {
  margin-top: 0;
  margin-bottom: 10px;
  color: #666;
}

.price-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.price-label {
  font-weight: bold;
}

.product-price,
.product-estimated-price {
  margin-left: 5px;
}
