.profile-box {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

.profile-box h2 {
  text-align: center;
}

.profile-box button {
  background: rgba(198, 196, 196, 0.5);
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 10px;
  letter-spacing: 4px;
}

.profile-box button:hover {
  background: #5d5d5d;
  color: #000000;
  border-radius: 5px;
}
