.search {
  display: block;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  /* margin-top: 50px; */
}

.search-input {
  width: 60em;
  height: 35px;
  &:focus {
    border: 1px solid #000000;
    transition: 0.35s ease;
    color: #000000;
    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
}

.search-button {
  height: 35px;
  padding: 0 25px 0 25px;
  /* border: 0; */
}
